.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin: 0 0 24px;
  line-height: 20px;
  font-size: 16px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  background-color: transparent;
}

.modal__close-img {
  width: 20px;
  height: 20px;
}

.modal__content {
  background-color: #fff;
  position: relative;
  border-radius: 20px;
  padding: 28px 28px 36px;
  border: 1px;
  max-width: 496px;
  width: 100%;
  box-sizing: border-box;
}

.modal__submit {
  background-color: #000;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  width: auto;
  align-self: flex-start;
}

.modal__submit:hover {
  background: #00000099;
  cursor: pointer;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

.modal__input {
  display: block;
  margin: 0 0 24px;
  border: none;
  border-bottom: 1px solid #000;
  padding: 0;
  height: 24px;
  width: 100%;
  box-sizing: border-box;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  gap: 8px;
  margin-bottom: 32px;
}

input[type="radio"] {
  accent-color: black;
}
