.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 119px;
}

.profile__clothing-items {
  width: 1015px;
  margin: auto;
}

@media (max-width: 650px) {
  .profile {
    flex-direction: column;
    gap: 32px;
    align-items: center;
    width: 100%;
    gap: 12px;
  }
}
