.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 20px;
}

.modal__link {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.modal__link:hover {
  text-decoration: underline;
}

.modal__submit {
  background-color: black;
}

.modal__submit:empty {
  display: none;
}
